[Unit]
Description=Display
After=network.target

[Service]
ExecStart=/home/pi/electro/display.py
WorkingDirectory=/home/pi/electro
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target